<div class="contentHeader">
	<h1 class="contentTitle">{L_donations_manage}</h1>
</div>

<form method="post" action="{ACTION}" name="post" >

	<div class="tableHeader floatRight">
		<button class="mainoption" name="new" type="button" id="new" onclick="window.location='donations.php{SID}&edit=0'"><i class="fa fa-plus"></i>{L_donations_add}</button>
	</div>
	<div class="clear"></div>
	<table width="100%" border="0" cellspacing="1" cellpadding="2" class="table colorswitch scrollable-x" id="article_categories-table">
		{ITEM_LIST}
	</table>
	<div class="center pagination_wrapper">
		{PAGINATION}
	</div>
	<div class="contentFooter">
		<button class="mainoption" name="del" type="button" id="delete" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete_selected}</button>
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
		<button class="mainoption" name="complete" type="submit"><i class="fa fa-check-square-o"></i> {L_donation_complete_selected}</button>
	</div>
	{CSRF_TOKEN}
</form>